.Rproj.user
results/
logs/
config.yml
NUL
scratch/incPrevTest.R
.httr-oauth
documentation/minutes/custom-reference-doc.docx
documentation/custom-reference-doc.docx
documentation/StudySAP.qmd
documentation/minutes612023.qmd
errorReportSql.txt

# ignore minutes documents
documentation/minutes/img
documentation/minutes/*.qmd

# ignore problem incidence Denom
cohortsToCreate/ignore/
hidden/
results.zip

scratchDiagnostics
extras/shiny/data/
